<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/CoderDamian/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="coderdamian" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>